.card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-height: 85vh;
    height: auto;
    width: 90%;

    padding: 40px;
}
