.card-content {
    background-color: rgba(255, 255, 255, 0.05);

    border-radius: 10px;

    min-height: 500px;

    width: 90%;
}

.card.Red {
  background: red;
}

.card.Green {
  background: green;
}

.card.Blue {
  background: blue;
}
