@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Dosis');

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content p {
  text-align: justify;
  font-family: 'Abel', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

.content h2 {
  font-family: 'Dosis' sans-serif;
  font-weight: 900,
}

#sub {
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}
