@import url('https://fonts.googleapis.com/css?family=Anton');

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content p,
.content h2 {
  text-align: justify;
  font-family: 'Anton', sans-serif;
}
